/* Mailchimp form */

.mc-field-group{
  position: relative;
  border: 3px solid color(reverse);
  border-radius: 2rem;
  background-color: color(reverse);
  padding-right: torem(100);
  padding-left: .5rem;
  max-width: 400px;
  margin: 2rem auto 0;
}

#mce-EMAIL{
  border: 0;
  border-radius: 2rem;
  font-size: 1rem;
  padding: .5rem .25rem;
  height: 100%;
  font-family: type(body);
  width: 100%;
}

#mc-embedded-subscribe{
  border: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em 1em;
  font-size: 1rem;
  border-radius: 2rem;
  font-family: type(body);
  font-weight: 700;
  color: color(dark-background);
  background-color: color(primary);

  @include transition-property(background-color, color);
  @include transition-duration();
  @include transition-timing-function();

  &:hover {
    color: tint(color(dark-background), 90);
    background-color: shade(color(primary), 40)
  }
}